*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(92, 216, 253);
}
.nav h2 {
    height: 60px;
    font-family:impact,charcoal,sans-serif;
    font-size: 50px;
    color:rgb(232,157,12);
    float: left;
    margin-top: 18px;
    margin-left: 15px;
}
.nav a {
    float: right;
    margin: 15px 10px;
    font-size:20px;
    color:rgb(232,157,12);
    text-decoration: none;
}
.nav{
    width:100%;
    height:100px;
    background-color:rgb(109,12,232);
    color:rgb(0, 109, 128); 
}

.winterimage{
    background-image: url("happyPeople.jpg");
    width: 100%;
    height: 700px;
    background-size: cover;
    margin-top:10px;
    margin-bottom: 50px;
}

.introduction{
    width: 40%;
    margin: 0 auto;
    font-size: 2.0em;
    border-radius: 10%;
    text-align: center;
    border: rgb(92, 11, 232);
    border-style: groove;
    font-family: 'Courier New', Courier, monospace;
}

.tuque-pic{
    width: 30%;
    height:300px;
    margin-right: 50px;
    border: 5px solid rgb(232,157,12);
    background-color: rgb(92, 216, 253);
    /*display: inline-block;*/
    float: right;
}
.tuque-pic img{
    object-fit: contain;
    max-height: 85%;
    max-width: 85%;
    display: block; 
    margin: 0 auto;

}
.tuque-pic p{
    height: 50px;
    color: rgb(232,157,12);;
    background-color: rgb(92, 216, 253);
    border:1px solid rgb(232,157,12);
    text-align: center;
    font-size: 2.5em
}
.text {
    height: 300px;
    width: 30%;
    display: inline-block;
    font-size: 4.0em;
    color: rgb(63,18,232)

}
